# Este archivo contiene las dependendias necesarias para ejecutar el proyecto:

selenium==4.10.0
webdriver-manager==3.8.5
beautifulsoup4==4.12.2

#Para instalar las dependendias: pip install -r requirements.txt